<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login form</title>
<link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
<h2>Login Form</h2>
<form action="/" method="POST">
<h2>Resister</h2>
<input type="text" name="name" placeholder="Name">
<input type="email" name="email" placeholder="Email">
<input type="password" name="password" placeholder="Password">
  <div class="container" style="background-color:#f1f1f1">
  <button type="submit">Register</button>
</form>
</body>
</html>